.container{
  display: flex;
  flex-direction: column;
  align-self:center;
  align-items:center;
  margin-top: 100px;
  position: relative;
  z-index: 1000;
}

.scroll {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 27vh;
  width: 640px;
  overflow: auto;
  z-index: 1000;
}

.box{
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.info{
  display: flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom: 16px;
  z-index: 1000;
}

.rounded_img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  overflow: hidden; 
  position: relative;
  border: 2px solid purple;
  object-fit: cover; 
  background-color: #1C1C21;
  z-index: 1000;
}

.price{
  display: flex;
  align-items: center;
  margin-right: 24px;
  z-index: 1000;
}

.left{
  display: flex;
  align-items: center;
  z-index: 1000;
}

.right{
  display: flex;
  align-items: center;
  z-index: 1000;
}

.time{
  display: flex;
  align-items:center;
  /* position: absolute;
  bottom: 1px;
  right: 210px; */
  z-index: 1000;
  /* max-width: 300px; */
  /* padding-right: 40px; */
}

.fullPrice{
  display: flex;
  align-items: center;
  z-index: 999;
}

.bottom{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 600px;
}

.modal{
  display: flex;
  flex-direction: column;
  align-self:center;
  align-items:center;
  position: relative;
}

.gtm{
  margin-right: 300px;
}