.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 10% auto;
}

.box {
  display: flex;
  list-style-type: none;
  gap: 40px;
  margin-top: 32px;
  margin-bottom: 60px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 22px;
}