.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vw 0;
  margin-left: 60px;
}

.box{
  display: flex;
}

.nav{
  display: flex;
  flex-direction: column;
  margin: 10vw 0;
  margin-left: 18%;
  max-width: 250px;
}