.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7%;
  margin-left: 15%;
}

.container_orders{
  margin: 0;
  margin-top: 3%;
  margin-left: 15%;
}

.box{
  display: flex;
  position: relative; 
}

.nav{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  max-width: 400px;
}

.nav_orders{
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  max-width: 400px;
}

.Link{
  text-decoration: none;
  cursor: pointer;
}

.link{
  text-decoration:none;
  color: white;
}
 .inactive {
  text-decoration: none;
  color: #8585AD;
 }