.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vw 0;
  margin-left: 60px;
}

.box{
  display: flex;
}

.nav{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 10vw 0;
  margin-left: 18%;
  max-width: 250px;
}

.Link{
  text-decoration: none;
  cursor: pointer;
}

.link{
  text-decoration:none;
  color: white;
  cursor:auto;
}

.btn{
  margin-top: 20px;
  display: flex;
}