.scroll{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 85vh;
    width: 800px;
    overflow: auto;
}

.link{
    text-decoration: none;
    color: white;
}